<div class="body">
    <div style="text-align:center">
        <button type="button" (click)="createBoard()">글쓰기</button>
    </div>
       <table>
            <colgroup>

                <col style="width:20%;">
                <col style="width:70%;">
                <col style="width:10%;">
                
            </colgroup>
           <tr>
                <td>Number</td>
                <td>title</td>
                <td>hits</td>
           </tr>
           <tr>
                <td>1</td>
                <td>안녕하세요</td>
                <td>3</td>
            </tr>
       </table>
</div>
